




#contact_form, section{
  padding: 80px 8%;
}

.form_box_checbox > div,
#contact_form > div{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}


#contact_form > div{
  flex-direction: column;
}

#contact_form > div h2 {
  padding-bottom: 20px
}






.sendDetails{
  padding: 80px 150px;
}

.form_box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.dropzone{
  width: 50%;
  padding: 1px;
  margin: 10px 0;
  position: relative;

}

.dropzone input{
  width: 100%;
  height: 50px;
  border-color: rgba(0, 0, 0, 0.06);
  min-height: 0;
  border-color: none;
  background: rgba(197, 197, 197, .5);

}

.drop_down_email{
  width: 200px;
  height: auto;
  background: gold;
  display: none
}

.drop_down_email > div{
  font-size: 20px;
  padding: 10px 10px;
  border-bottom: 1.5px solid rgba(197, 197, 197, .5)
}

.drop_down_email.block{
  background: red;
  position: absolute;
  top: -115px;
  display: block
}

textarea{
  width: 100%;
  height: 200px;
  margin-top: 40px;
  border-color: rgba(0, 0, 0, 0.296);
  
}

.form_box_checbox{
  padding: 20px 0px;
  display: flex;  justify-content: center;  align-items: center;
  flex-direction: column;
  
}

.form_box_checbox{
  
}


.form_box_checbox > div{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
  margin-bottom: 10px;
}

.form_box_checbox > div{
  justify-content: space-between;
  align-items: flex-start;
  height: auto;   
}

.form_box_checbox > div > input{
  
  width: 50px;
}

.form_box_checbox > div > p {
  padding: 0 0 0 20px ;
}

.form_box_checbox button{
  min-width: 120px;
  margin-top: 30px;
  font-size: 2em;
  font-weight: 500;
  color: black;
}









































@media screen and (max-width: 480px) {



  .box_nav_head {
    display: none
  }

  .box_menu_head {
    display: block;
  }
  
  
  
#contact_form,
section{
  padding: 80px 20px;
}

.form_box{
  flex-direction: column;
  
}
  
.dropzone {
  width: 100%;
}
  
.sendDetails{
  padding: 80px 0;
}
  
  
  
  
  
}


