
:root{
  --first :  #2DA98F; /* #E5e5e5 ;*/
  --second: #152932; /* #CFCFCF;/* #109C7B;*/
}



/* :::::::::::::::: */

#home{
  width: 100vw;  height: 450px; background: black;  background: url("./assets/image/hbg1.jpg"); background-size:  cover ; background-repeat: no-repeat; background-clip: border-box; display: flex;  justify-content: center;  align-items: center;  padding: 0 8%;

  background: var(--second); 
}


.home_left{
  width: 50%; color: #fff; height: auto;  padding: 0 20px 0 0;  flex-direction: column;
}

.home_left span{
  font-size: 1em;  padding: 0 0px 20px 0; width: 100%;text-align: left;
}


.home_left h1{
  font-size: 3em; padding: 0 0px 20px 0; color: white;
}

.home_left p{
  font-size: 1.5em;  font-weight: 400;  padding: 0 0px 30px 0;
}

.home_left_option{
  width: 100%;
}

.home_left_option button{
  margin-right: 10px;
}





.home_right{
  width: 50%;  height: 100%;  overflow: hidden;  padding: 100px 60px 50px; 
} 

.home_right div{

  width: 100%; display: none; height: 100%;  border-radius: 5px;  background: var(--second); position: relative;
}

.home_right img{
  position: absolute; bottom: 0;
  height: 100%;
  transform: translateX(-50px);
  width: auto;
}

/* :::::::::::::::: */


#service ,
.service_container,
.service_card,
.service_card_head{
  width: 100%;height: auto;display: flex; justify-content: center;align-items: center;
}

#service{
  flex-direction: column; padding: 60px 8%; background: var(--second);
}

#contact h1,
#about > h1,
#testimony > h1,
#service > h1{
  font-size: 3em;
  color: white;
  margin-bottom: 40px;
}

.testimony_container,
.service_container{
  display: grid;  grid-template-columns: repeat(3, 1fr) ;grid-gap: 20px;
}

.testimony_card,
.service_card{
  width: 100%; height: 190px; padding: 20px;background: white; flex-direction: column; border-radius: 5px;
}

.service_card_head{
  width: 100%; height: 30%; align-items: center; justify-content: flex-start;
}

.service_card_head img{
  width: 50px;
}

.service_card_desc{
  width: 100%;height: 70%;
}

.service_card_desc p{
  margin-bottom: 1em; font-size: 1.2em;font-family: sans-serif;
}



/* :::::::::::::::: */



.testimony_link,
#testimony{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}

#testimony{
  flex-direction: column; padding: 60px 8%; background: var(--first);
}

#testimony h1{
  color: black;
}


.testimony_container{
  width: 100%;  padding: 60px 60px;  overflow-x: scroll;
}


.testimony_card{
  position: relative; width: 300px; height: 180px;
}

.testimony_card_photo{
  position: absolute;  top: -35px;  left: 50px; width: 70px;  height: 70px;  border-radius: 50%; overflow: hidden;  background: var(--first); padding: 5px;
}

.testimony_card_photo img{
  height: 100%;  object-fit: cover;  border-radius: 50%;
}

.testimony_card p{
  height: 90px; padding: 30px 0 30px 0; overflow: hidden;  margin-bottom: 15px;
}

.testimony_card > strong {
  font-size: 1.2em; font-family: sans-serif; height: 0px
}

.testimony_link{
  justify-content: space-between; height: 20px;
}


.ending_testi_card{
  height: 100%; width: 60px; background: none;
}







.about_container,
#about{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}

#about{
  flex-direction: column;
  padding: 60px 8%;
}



.about_container{
  flex-direction: row-reverse;
  height: 400px;
  margin: 40px 0 0;
}

.about_right{  width: 50%; height: 100%;  display: flex;  flex-direction: column;align-items: flex-start;   justify-content: center; padding: 0 0 0px 20px;
}

.about_right h1{
  margin-bottom: 10px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about_right p{
  margin-bottom: 25px;  max-width: 370px;
}




.about_left{
  position: relative;  width: 50%;  height: 100%; background: #C5C5C5; background: var(--second);
}


.about_left img{
  position: absolute;  z-index: 5;  bottom: 100px;  right: 56px;  width: 30px
}



/**blogs */
/**blogs */
/**blogs */
/**blogs */
/**blogs */











#blogs .blogs_container{
  width: 100%;
  height: auto;
  display: grid;
  row-gap: 40px;
}

#blogs .blogs_article{
  width: 100%;
  height: 240px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#blogs .blogs_article > div{
  overflow: hidden;
}

#blogs .blogs_article > div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 6;
}

#blogs .blogs_article > div:nth-child(1) img{
  object-fit: cover;
}

#blogs .blogs_article > div:nth-child(2) {
  grid-column-start: 6;
  grid-column-end: 13;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  padding: 0  20px;
}

#blogs .blogs_article > div:nth-child(2)  h3 {
  grid-row-start: 1;
  grid-row-end: 4;
  overflow: hidden;
  text-transform: capitalize;
  font-weight: bolder
}
#blogs .blogs_article > div:nth-child(2)  p {
  grid-row-start: 4;
  grid-row-end: 9 ;
  overflow: hidden;
  line-height: 1.3em;
  font-size: 1.6em;
  color: #959595;
  padding-top: 5px;
  background: none
}
#blogs .blogs_article > div:nth-child(2)  > div {
  grid-row-start: 9;
  grid-row-end: 11;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 1.2em; 
}

#blogs .blogs_article>div:nth-child(2) #button {
  grid-row-start: 11;
  grid-row-end: 13;
  overflow: hidden;
  width: 200px;
}

#blogs .blogs_article>div:nth-child(2) p {
  padding-top: 10px
}










.newsletters_right form,
.newsletters_container,
#newsletters{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}

#newsletters {
  flex-direction: column;  flex-direction: column;  padding: 60px 8%;
}

.newsletters_container h1{
  text-transform: uppercase;  font-size: 3em;
}

.newsletters_container{
}


.newsletters_left{
  width: 60%;
  padding: 40px 100px 40px 0;
}

.newsletters_left h1{
  margin-bottom: 20px;   text-align: center;
}

.newsletters_left p{
  max-width: 450px;  color: #969696; text-align: center; line-height: 1.5em; 
}

.newsletters_right {
  width: 40%;
}



.newsletters_right form  button{
  width: 30%;
  height: 50px;
  color: #222;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletters_right form input{
  width: 70%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}








.contact_content,
.contact_container,
#contact{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}


#contact{
  flex-direction: column;
  padding: 60px 8%; background: var(--second);
  color: white;

}

#contact h1{
  color: white;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.contact_content{
  margin-bottom: 40px;
  flex-direction: column;
}

.contact_container{
  padding: 0px;
}

.contact_container form > div{
  padding: 5px;
}

.contact_container form  button{
  width: 100%;
}

.contact_container form  input, 
.contact_container form  textarea{
  box-shadow: 0 1.5px 2px .2px  rgba(197, 197, 197, .5);
  border: none;
  width: 300px
}



.contact_container form > div textarea{
  height: 110px;
}






.pricing_card > ul,
.pricing_card > div,
.pricing_card > h2,
.pricing_card > div,
.pricing_card,
.pricing_container,
#pricing{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}

#pricing{
  flex-direction: column;
  padding: 60px 8%;
}

.pricing_container{
  margin-top: 60px;
}

.pricing_card{
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  border: 1px solid #C5C5C5;
}

.pricing_card > h2 {
  width: 100%;
  height: 40px;
}



.pricing_card > div:first-child {
  width: 100%;
  height: 30px;
}

.pricing_card > div h2 {
 transform: translateX(20px);
 color: black
}
.pricing_card > div li {
 transform: translateX(25px);
 font-weight: 500;
 font-size: 1.5em;
 text-decoration: line-through;
}

.pricing_card > ul {
  width: 100%;
  height: 300px;
  flex-direction: column;
}

.pricing_card > ul li {
  padding: 7px 0;
  color: black;
}

.pricing_card > div button{
}


.box_script_text_head,
.detail_head,
footer > div,
footer ul,
footer{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}

footer {
  flex-wrap: wrap;
  padding: 0px 0px 0px;
  background: #131616
}

footer ul{
  width: 100%;
  flex-wrap: wrap;
  padding: 0px 8% 0px;
}

footer ul li{
  padding: 10px 15px;
}



footer ul li a{
  font-size: 1.2em;  list-style: none; text-decoration: none; color: #787878;
 }


footer > div{
  padding: 30px ;
  background: #0B1210;
  width: 100%;
  margin-top: 30px;
  color: white;
}






.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
  background-color: #fff;
  font-weight: 600;
}



#socialLink{
  width: 100%;
  height: auto;
  background: gold;
  padding: 0;
}














.cardcard {
  width: 100%;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px ;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.cardcard > a svg{
  color: white;
  width: 22px;
  height: 22px;
}
/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 5px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}












/* box_detail */

.detail_head{
  padding:0 0 50px 0;
  flex-direction: column;
}

.detail_head h3{
  text-align: center;
  font-size: 3em;
  padding: 20px;
}

.detail_head p{
  text-align: center;
  max-width: 600px;
}



.box_detail{
  padding: 20px 0;
}

.box_detail h3{
  font-size: 2.5em;
  text-align: center;
  padding: 0 0 20px 0 ;
}
.box_detail p{
  text-align: center;
  padding: 0 80px;
}

.detail_left {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail_left img{
  width: 200px;
}

.box_script_text{
  width: 100%;  height: auto;  display: flex;  justify-content: center;  align-items: center;
}










/*presentationMp4*/

#presentationMp4{
  background: transparent;
  padding: 80px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#presentationMp4 h2{
  padding: 40px 20px;
  text-align: center;
}

#presentationMp4 .boxvideo {
  background: #C5C5C5;
  background: mediumturquoise;
  width: 600px;
  padding: 10px
}



#presentationMp4 .boxvideo video{
  width: 100%;
}




.box_script_text{
  width: 600px;
  flex-direction: column;
}

.box_script_text > button{
  background: #0B20FF;
}

.box_script_text > div{
  width: 100%;
  margin-bottom: 30px;
}


.box_script_text_head{
  width: 100%;
  height: 60px;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.06);
}

.box_script_text_head > button{
  margin-left: 20px;
  box-shadow: none;
  border-radius: 0px;
  
}

.box_script_text_content{
  overflow: hidden;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.06);
  height: 0px;
  animation: anima_off  linear;
  animation-duration: 1s;
  animation-delay: 0s;
}

.box_script_text_content > div {
  padding: 30px 60px;
  font-size: 1.8em;

}



.box_script_text_content.open{
  animation: anima_on  linear;
  height: 600px;
  animation-duration: 1s;
  animation-delay: 0s;


}

@keyframes anima_on {
  0% {
    height: 0px;
  }

  100% {
    height: 600px;

  }
}

@keyframes anima_off {
  0% {
    height: 600px;
  }

  100% {
    height: 0px;

  }
}































         
@media screen and (max-width: 480px){
  
  
  body  {
    background: white;
  }
  
  
  .box_nav_head{
    
  }
  
  .box_menu_head{
    display: block;

  }
  
  
  
  #home{
    flex-direction: column; height: 700px;  padding: 0px 15px 0px;
    background-size: auto 100% ; background-repeat: no-repeat; background-position: center;
}
  
  
  #home .home_left{
    padding: 180px 0 0 0;
    width: 100%;
    
  }
  
  #home .home_right{
    width: 100%; height: 240px; padding: 0px; margin-top: 150px;  

  }
  
  #home .home_right > div{
    height: 240px;
  }
  
  #home .home_right > div img{
    margin-left: 40px;
  }
  
  
  .box_detail p{
    text-align: center;
    padding: 0 0px;
  }

  
  
  
  
  
  
  
  
  
  
  #about {
    padding: 15px ;
  }
  
  #about h1 {
    color: #222
  }
  
  #about .about_container{
    flex-direction: column-reverse ;
    height: auto;
    padding: 0;
    justify-content: space-between;
  }
  #about .about_container > div{
    width: 100%;
  }
  
  #about .about_left {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 40px 0;
  }
  
  #about .about_left div:last-child {
    position: absolute;
    bottom: 0;
    top: 100px
  }

  #about .about_left img{
    width: 340px;
    top: 0px;
    left: -40px;
  }
  
  #about .about_right{
    padding: 0;
  }











  #blogs{
    padding: 80px 15px;
  }


  #blogs .blogs_article{
    width: 100%;
    height: 500px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-auto-flow: column;
    overflow: scroll
    
  }

  #blogs .blogs_article > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    width: 100%;
  }
  
  #blogs .blogs_article>div:nth-child(1) img {
    object-fit: cover;
    width: 100%
  }
  
  
  #blogs .blogs_article > div:nth-child(2) {
    grid-row-start: 6;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 20px 0 0 0;

  }


















  #service {
    padding: 80px 20px
  }

  #service .service_container{
    flex-direction: column-reverse;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr)
  }
  
  
  
  #pricing .pricing_container{
    flex-direction: column
  }
  
  
  
  
  #newsletters{
    margin: 100px 0;
    padding: 60px 15px;
  }
  
  
  #newsletters .newsletters_container{
    flex-direction: column;
  }
  
  .newsletters_container .newsletters_left{
    width: 100%;
    padding: 20px 10px;
    border-left: 1.5px solid var(--first) ;
    
  }
  
  
  .newsletters_container .newsletters_right{
    padding-top: 40px;
    width: 100%;
    
  }
  
  
  
  
  
  #presentationMp4{
    padding: 80px 0px;
  }
  
  #presentationMp4 .boxvideo{
    width: 100%;
    padding: 5px;
  }
  
  .box_script_text {
    width: 100%;
  }
  
  .box_script_text_content{
    height: 0px;
  }
  
  .box_script_text_content > div {
    padding: 40px 20px;

  }

  .box_script_text_content.open {
    height: 850px;
  }
  
  
@keyframes anima_on {
  0% {
    height: 0px;
  }

  100% {
    height: 850px;

  }
}

@keyframes anima_off {
  0% {
    height: 850px;
  }

  100% {
    height: 0px;

  }
}

  
  
  
  
  
  
  
  
}













